---
interface Props {
  title: string;
  emoji: string;
  body: string;
  img: string;
  href: string;
}

const { href, title, body, img, emoji }: Props = Astro.props;

const colors: { [key: string]: string } = {
  "✋": "#fceed8",
  "🥅": "#dee9fc",
  "💬": "#fbe5e6",
};

const color = colors[emoji] || "#fceed8";
---

<article>
  <a href={href}>
    <div style={`background-color: ${color}`}>{emoji}</div>
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
    <img src={img} alt={title} />
  </a>
</article>
<style>
  article {
    padding: 2rem;
    background-color: #212936;
    border-radius: 10px;
    width: 250px;
		transition: 0.5s;
		transform: scale(1);
  }
	article:hover {
		scale: 1.05;
		transition: 0.5s;
		transform: scale(1.05);
	}
  a {
    text-decoration: none;
    color: white;
		width: 100%;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #e5e7eb;
  }
  p {
    color: #9da3ae;
    font-size: 1rem;
    font-weight: 400;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-right: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
</style>
